.messages-container_md {
  flex: 1;
  box-shadow: 0px 4px 20px rgb(8, 0, 36);
  overflow-y: auto;
  /* background: url('http://localhost/API_SPP/Src_Media/Wanny.jpg') center; */
  padding: 10px;    
  height: 550px;

}
.elieCursor{
    cursor: default !important;

}
.titlesimba{
    font-size: 25px;
    text-align: center;
    justify-content: center;
    color: red;
    text-transform: capitalize;
    box-shadow: -3px 3px 3px red;
    text-shadow: 12px;
}
.biggest{
    cursor: text;
    text-decoration: solid;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top:50px;
}
#ofCause{
  min-width: 100%;
  max-width: 100%;
  align-items: center !important;
}
.limite-height{
  overflow-x:auto;
  max-height:400px !important;
}
.dodgexs{
  opacity: 60%;
  font-size:13px;
  text-align:center;
}
.self-one{
  width: 47%;
  height: 60px;
}
.text-2-lines{
    height: 113px;
    -webkit-line-clamp: 3; /* Nombre de ligne a afficher */
    text-overflow: ellipsis;
    overflow: hidden;
}
#min-heigth{
  min-width:300px !important ;
}
.red{
  color: red !important;
}
.rounded-2{
  border-radius: 30px !important;
  border-bottom: 10px double yellow !important;
  box-shadow: 0px 1px 8px white !important;
}
.photoprofilUp{
    width:150px !important;
    height:150px !important;
    border-radius: 16px !important;
    border-style: solid;

}
